<div class="photo-cta">
  <img src="/img/cta-images/join_our_team.png" class="photo-cta-container"/>
  <div class="cta-button"><a href="http://tracyfrans.exprealty.careers/">Apply Now   <i class="fa fa-angle-double-right"></i></a></div>
</div>


<div class="photo-cta">
  <img src="/img/cta-images/strategy_call.png"  class="photo-cta-container"/>
  <div class="cta-button"><a href="/strategy-call">Book a Call   <i class="fa fa-angle-double-right"></i></a></div>
</div>

<br>

<iframe width="560" height="315" src="https://www.youtube.com/embed/_5n8RoCAi7I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br>

<iframe width="560" height="315" src="https://www.youtube.com/embed/SnwOF6YiPyc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
